{% extends "base.html" %}
{%block body %}
      <div class="container mt-3">
        <h2 class = text-center>About me</h2>
        <div class="row">
          <!-- card 1 -->
          <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://imgs.search.brave.com/yQf4xLSzmwFGxHGTqJtbGWPnJmMyGtX0ujMjYZZ6sEA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvY29kaW5nLWJh/Y2tncm91bmQtOWl6/bHltcG5kMG92bXBs/aS5qcGc" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">APP Developer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
          <!-- card 2 -->
          <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://imgs.search.brave.com/yQf4xLSzmwFGxHGTqJtbGWPnJmMyGtX0ujMjYZZ6sEA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvY29kaW5nLWJh/Y2tncm91bmQtOWl6/bHltcG5kMG92bXBs/aS5qcGc" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Game Developer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
          <!-- card 3 -->
          <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://imgs.search.brave.com/yQf4xLSzmwFGxHGTqJtbGWPnJmMyGtX0ujMjYZZ6sEA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvY29kaW5nLWJh/Y2tncm91bmQtOWl6/bHltcG5kMG92bXBs/aS5qcGc" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Markiting</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      <footer class="py-3 bg-dark text-light position-fixed bottom-0 w-100">
        <p class="text-center" style="color: bisque;">Copyright &copy;2024 |All Right Reserved</p>
        </footer>
      {% endblock body %}
     