{% extends "base.html" %}
{%block body %}
      <div class="container mt-3">
        <h2 class = text-center>About projects</h2>
        <div class="row">
          <!-- card 1 -->
          <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://pixabay.com/get/g281e55c7309e18de87167ba2ef481b6e7e13d71b4d5c5f51d2f1eb9eb6f7ef4460d92481a6d185273b1efd88612128b9_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EAT.DRINK.PLAY</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">click for demo</a>
            </div>
          </div>
          </div>
          <!-- card 2 -->
          <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://pixabay.com/get/g281e55c7309e18de87167ba2ef481b6e7e13d71b4d5c5f51d2f1eb9eb6f7ef4460d92481a6d185273b1efd88612128b9_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">project 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">click for demo</a>
            </div>
          </div>
          </div>
          <!-- card 3 -->
          <div class="col mt-4">
          <div class="card" style="width: 18rem;">
            <img src="https://pixabay.com/get/g281e55c7309e18de87167ba2ef481b6e7e13d71b4d5c5f51d2f1eb9eb6f7ef4460d92481a6d185273b1efd88612128b9_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">project 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">click for demo</a>
            </div>
          </div>
        </div>
      </div>
    <footer class="py-2 bg-dark text-light position-fixed bottom-0 w-100">
        <p class="text-center" style="color: bisque;">Copyright &copy;2024 |All Right Reserved</p>
        </footer> 
      {% endblock body %}
     